.header{
    background-color: #54708a;
}
.login-wrap{
    background: #333f50;
}
.plugins-tips{
    background: #eef1f6;
}
.plugins-tips a{
    color: #bb91bb;
}

.tags-li.active {
    border: 1px solid #8ba9c9;
    background-color: #768eab;
}
.message-title{
    color: #5f8594;
}
.collapse-btn:hover{
    background: rgb(109, 125, 168);
}